/* ------------------ Header and Navigation ------------------ */

header {
  display: flex;
  flex-direction: column; 
  background-color: #000000;
  position: sticky;
  top: 0;   
  width: 100%;
  min-width: 100%;
  z-index: 1000;

  justify-content: space-between;
  align-items: center;
  padding-left: 65px;
  padding-right: 65px;
  
}



nav {
  display: inline-flex;
  width: auto;
  background-color: #000000;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1000;
}

.nav-btn { 
  background-color: transparent;
  color: white;
  cursor: pointer;      /* change le curseur en main */
  border-bottom: 2px solid transparent; /* ligne invisible au départ */
}

.nav-btn:hover {
  border-bottom: 2px solid white; /* ligne blanche au hover */
}

.nav-btn.active {
  cursor: default;             /* plus de main au survol */
  pointer-events: none;        /* empêche le clic */
  border-bottom: 2px solid white; 
}

